@model GroupVM

@section Scripts{
    <script src="~/js/logListener.js"></script>
    <script src="~/js/UserHelper.js"></script>
}

<div style="flex-direction:row; display:flex; justify-content:space-between">
    <span class="page-header">@Model.Data.Name</span>
    <div style="align-self:center">
        @if (Model.Users.First(x => x.Key == Model.UserID).Value.Roles.Contains("Manager"))
        {
            <button class="btn cs_primary" data-toggle="modal" data-target="#editGroupUsersModal" >
                Users
            </button>
        }
        else
        {
            <button class="btn cs_primary" data-toggle="modal" data-target="#viewGroupUsersModal">
                Users
            </button>
        }
        <button class="btn cs_primary" data-toggle="modal" data-target="#dailyExportFormModal">
            Day Export
        </button>
        <button class="btn cs_primary" data-toggle="modal" data-target="#customExportFormModal">
            Custom Export
        </button>
    </div>
</div>

<input hidden id="userID" value="@Model.UserID" />

<hr />

<div id="dateContainer" style="display:flex; flex-direction:row; justify-content:center">
    <button class="btn cs_primary dateChange" data-datechange="-">
        <i class="fas fa-chevron-left"></i>
    </button>
    <div style="margin: 0 20px; display:flex; flex-direction:column">
        <span id="dateText" style="align-self:center; font-size:1.5rem">@DateTime.Today.ToShortDateString()</span>
        <span id="dayText" style="align-self:center; font-size: 1rem">@DateTime.Today.DayOfWeek</span>
    </div>
    <button class="btn cs_primary dateChange" data-datechange="+">
        <i class="fas fa-chevron-right"></i>
    </button>
</div>


@*<h4>Logs</h4>*@
@* This user's log *@
<div class="row">
    @*<div class="col-md-3">
            <span>You (Insert this user's name)</span>
        </div>*@
    <div class="col-md-12">
        @using (Html.BeginForm("UpdateLog", "Log", FormMethod.Post, new { id = "UpdateLogForm" }))
        {
            var thisUserLog = Model.Logs.FirstOrDefault(x => x.Value.UserID == "u1");
            @if (thisUserLog.Value != null)
            {
                <div class="form-group">
                    <label for="yesterdayTA">Yesterday:</label>
                    <textarea id="yesterdayTA" name="Yesterday" class="form-control check-value" rows="3" data-revert="@thisUserLog.Value.Yesterday">@thisUserLog.Value.Yesterday</textarea>
                </div>
                <div class="form-group">
                    <label for="todayTA">Today:</label>
                    <textarea id="todayTA" name="Today" class="form-control check-value" rows="3" data-revert="@thisUserLog.Value.Today">@thisUserLog.Value.Today</textarea>
                </div>
                <div class="form-group">
                    <label for="blockersTA">Blockers:</label>
                    <textarea id="blockersTA" name="Blockers" class="form-control check-value" rows="3" data-revert="@thisUserLog.Value.Blockers">@thisUserLog.Value.Blockers</textarea>
                </div>
                <div id="variableFormDetails">
                    <input hidden name="DocId" value="@thisUserLog.Value.DocId" />
                    <input hidden name="Date" value="@thisUserLog.Value.Date" />
                    <input hidden name="UserID" value="@thisUserLog.Value.UserID" />
                    <input hidden name="UserName" value="@thisUserLog.Value.UserName" />
                </div>
                <input hidden name="GroupID" value="@thisUserLog.Value.GroupID" />
            }
            else
            {
                <div class="form-group">
                    <label for="yesterdayTA">Yesterday:</label>
                    <textarea id="yesterdayTA" name="Yesterday" class="form-control check-value" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="todayTA">Today:</label>
                    <textarea id="todayTA" name="Today" class="form-control check-value" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="blockersTA">Blockers:</label>
                    <textarea id="blockersTA" name="Blockers" class="form-control check-value" rows="3"></textarea>
                </div>
                <div id="variableFormDetails">
                    <input hidden name="FormDate" value="@DateTime.Now.Date" />
                </div>
                <input hidden name="GroupID" value="@Model.DocId" />
            }
            <div style="float:right">
                <button type="reset" class="btn cs_primary">Cancel</button>
                <button type="submit" class="btn cs_primary">Update</button>
            </div>
        }
    </div>
</div>

@* Template for new logs *@
<div class="row" id="log-copy-row" hidden>
    <div class="col-md-3">
        <span class="log-username">Name</span>
    </div>
    <div class="col-md-9 log-copy-content">
        <span style="font-weight: bolder">Yesterday: </span>
        <span class="log-yesterday">Yesterday</span>
        <br />
        <span style="font-weight: bolder">Today: </span>
        <span class="log-today">Today</span>
        <br />
        <span style="font-weight: bolder">Blockers: </span>
        <span class="log-blockers">Blockers</span>
    </div>
</div>
<span id="log-copy-row-empty" style="font-style: italic;" hidden>Not Submitted</span>


@* Other users' logs *@
<div id="logs-container" style="margin: 40px 0">
    @foreach (var log in Model.Logs)
    {
        if (log.Value.UserID != Model.UserID)
        {
            <div class="log-container" data-UserID="@log.Value.UserID">
                <div class="row">
                    <div class="col-md-3">
                        <span style="font-weight: bold; font-size: larger;">@log.Value.UserName</span>
                    </div>
                    <div class="col-md-9 log-content">
                        @if (log.Value.Yesterday.Length > 0 || log.Value.Today.Length > 0 || log.Value.Blockers.Length > 0)
                        {

                            <span>Yesterday: @log.Value.Yesterday</span>
                            <br />
                            <span>Today: @log.Value.Today</span>
                            <br />
                            <span>Blockers: @log.Value.Blockers</span>
                        }
                        else
                        {
                            <span>Not Submitted</span>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>

@if (Model.Users.First(x => x.Key == Model.UserID).Value.Roles.Contains("Manager"))
{
    <partial name="/Views/Group/_EditGroupUsersModal.cshtml" model="@Model" />
}
else
{
    @*<partial name="/Views/Group/_EditGroupUsersModal.cshtml" model="@Model" />*@
}

<partial name="/Views/Group/_DailyExportFormModal.cshtml" model="@new DailyExportForm { GroupId = Model.DocId, ExportDate = DateTime.Today }" />
<partial name="/Views/Group/_CustomExportFormModal.cshtml" model="@new CustomExportForm { GroupId = Model.DocId, ExportStartDate = DateTime.Today.AddDays(-1), ExportEndDate = DateTime.Today }" />
